#prof-img{
    max-width: 20%;
    max-height: 25%;
}

#nav-link-top{
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
}
#main{

    position: absolute;
    top: 10%;
}
.navbar .a{
    float: left;
    text-align: center;
    color: black;
}
.nav-link-i{
    float: left;
    border: solid black;
}
#top-link-list{
    list-style-type: none;
}
.navbar a:hover{
    background-color: rebeccapurple;
}
#footer{
    position: fixed;
    bottom: 0;
}